@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Apply the animation to the 'animate-appear' class */
  .animate-appear {
    animation: fadeIn 500ms ease-in-out 300ms forwards;
    /* transition duration 500ms, delay 300ms, and maintains opacity after animation */
  }