.focus\:ring-cyan-500:focus{
    border-color: rgb(26 86 219 / 1);
}

.text-cyan-600{
    color: rgb(26 86 219 / 1);
}

.focus\:ring-cyan-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(26 86 219 / 1);
}